<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA37HlfhheAH31CBCQGJ159UWisEsWRp1c</string>
	<key>GCM_SENDER_ID</key>
	<string>1082906545283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bundle.id</string>
	<key>PROJECT_ID</key>
	<string>taxi-a30eb</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-a30eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082906545283:ios:7745ac8679371c69659fb6</string>
	<key>DATABASE_URL</key>
	<string>https://taxi-a30eb-default-rtdb.firebaseio.com</string>
</dict>
</plist>